.contact-bar {
  z-index: 10;
  background-color: var(--background-dark);
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem;

  overflow-x: hidden;
  display: none;

  @media screen and (min-width: 800px) {
    display: flex;
  }

  & ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    gap: 3rem;

    & a {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      color: var(--primary-color);

      transition: color 200ms ease-in-out;

      &:hover {
        color: var(--secondary-color);
      }
    }
  }
}

.nav-bar-desktop {
  z-index: 10;
  position: sticky;
  background-color: var(--navbar-background-color);
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;

  overflow-x: hidden;
  width: 100%;

  transition: all 300ms ease-in-out;

  box-shadow: var(--navbar-box-shadow);

  display: none;

  @media screen and (min-width: 800px) {
    display: flex;
  }

  & div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1280px;
    background-color: transparent;

    & a {
      color: #e7e7e7;
      transition: color 125ms ease-in-out;

      &:hover {
        color: var(--primary-color);
      }
    }

    & ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      font-size: x-large;
    }
  }
}

.nav-bar-mobile {
  // max-width: 100vw;
  // height: 100%;

  @media screen and (min-width: 800px) {
    display: none;
  }
}

.nav-bar-mobile-hamburger {
  background-color: var(--primary-color);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.423);
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;

  z-index: 1000;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.nav-bar-mobile-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: var(--background-dark);
  z-index: 100;

  overflow: hidden;

  color: #e7e7e7;
  font-size: x-large;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-bottom: 2rem;

  & ul {
    list-style: none;
    display: flex;
    flex-direction: column;

    font-size: x-large;
    font-weight: bold;
    gap: 0.5rem;
  }
}

.fadeOut {
  opacity: 0;
  width: 0;
  transition: all 200ms ease-in-out;
}
.fadeIn {
  opacity: 1;
  width: 100%;
  transition: all 200ms ease-in-out;
}

.main {
  min-height: 55vh;
  width: 100%;

  @media screen and (max-width: 800px) {
    overflow-x: hidden;
  }
}

.footer {
  overflow-x: hidden;
  background-color: var(--background-dark);
  color: #e7e7e7;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 800px) {
    flex-direction: column;
  }

  & * {
    margin: 0 0.25rem;
  }

  & a {
    color: var(--secondary-color);
  }
}
