.button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  font-size: large;
  font-weight: bold;

  //   color: #f7f7f7;

  cursor: pointer;

  transition: all 200ms ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}
