@font-face {
  font-family: "OpenSans";
  src: url("/assets/fonts/OpenSans-Regular.ttf");
}

html,
body {
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: "OpenSans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: #eeeeee;

  overflow-x: hidden;
}

:root {
  --primary-color: #ff9209;
  --secondary-color: #e76f51;

  --background-dark: #282727;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
